.btn-borrar {
   background-color: tomato;
   border: 1px solid tomato;
}

.td {
    background-color: rgb(174, 199, 137);
    width: 300px;
    text-align: center;
}

.td-action {
    text-align: center;
}