@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-image: url('https://i.ibb.co/K01Rqx0/platter-2009590.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    height: 110vh;
    width: 100%;
    color: whitesmoke;
}